* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
}


body {
  width: 1440px;
  height: 617px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4b81a0;
}